
<div ng-include="'components/navbar/navbar.html'"></div>


<div ng-show="!showGen">
  <div class="col-sm-2">
  </div>
  <div class="dashboardPanel col-sm-8">
    <ul>
      <a ng-click="createContract()"><li><div><i class="ion-document-text"></div></i><div>CREATE</div></li></a>
      <a href=""><li><div><i class="ion-filing"></div></i><div>MANAGE</div></li></a>
      <a href=""><li><div><i class="icon ion-ios7-compose"></div></i><div>SIGN</div></li></a>
    <ul>
  </div>
  <div class="dashboardPanel col-sm-2">
  </div>
</div>

<div class="container quiz" ng-show="showGen ==true">
  <br>
  <h1 class="formtitle">{{currNode.question}}</h1>
  <div ng-repeat="connection in currNode.connections" class="connectedlist">
    <button class="l" ng-click="getNext(connection.next, connection.option, connection.type)" ng-hide="!connection.option">{{connection.option}}</button>

    <div ng-show="connection.option == null"><input class="fs-input" ng-model="currNode.answer.answer"> <button ng-click="getNext(connection.next, currNode.answer.answer, connection.type)">Continue</button> </div>

  </div>
  <br>
  <br>
  <button class= "backOrSubmit" ng-show="currNode.num==21" ng-click="open()">REVIEW</button>
  <br ng-show="currNode.num==21">
  <br ng-show="currNode.num==21">
  <button class = "backOrSubmit" ng-click="getPrev()" ng-hide="currNode.num==1" class="fs-button">Go Back</button>

</div>

  <script type="text/ng-template" id="modal.html">
    <div class="modal-body">
      <h3>REVIEW</h3><br>
      <ul ng-repeat = "node in historyNodes" class="previewQuestions">
        <li>
          <ul>
            <li><strong>{{node.question}}</strong><br></li>
            <li class="review">{{node.answer.answer}}<br></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
          <button ng-click="ok()">Submit</button>
          <button ng-click="cancel()">Back</button>
    </div>
  </script>


